.photome{
    width: 300px;
    height: 250px;
}
.HEADERPAPA{
    margin-top: 100px;
  height: auto;
   width: 100%;
   height: 100%;
   padding: 80px;
}
.HEADERPAPA h5{
    font-weight: 500;
    color: #272936;
    font-size: 22px;
}
.HEADERPAPA h1{
    font-weight: 600;
    color: #272936;
    font-size: 30px;
    
  
}
.HEADERPAPA p{
    font-weight: 600;
    color: #272936;
    font-size: 18px;
    letter-spacing: 1px;
  
}
.Get{
    outline: none;
    border: none;
    background-color: #5D3BEE;
    padding: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 500;
    transition: 0.5s;
    letter-spacing: 1px;
   
}
.Get:hover{
    background-color: #5D3BEE;
    opacity: 0.5;
   
    
}
.ZEZO *{
   margin-bottom: 2px;
   padding: 10px;
}
.Photo{
    width: 100%;
    background-size: cover;
    padding: 10px;
    width: 340px;
    border-radius: 7px;
    height: 320px;
    margin-bottom: 10px;

}
.cc{
    width: 100%;
}
