 .change{
    font-size: 14px;
    font-weight: 600;

}
.iconsss{
   display: flex;
   justify-content: space-around;
  flex-direction: row;

 

}
.joja{
    display: flex;
   
    align-items: center;
}
.fafa{
    font-size: 18px;
    transform-origin: 0.5s;
    gap: 10px;
}
.fafa :hover{
    color: #5D3BEE;
}
.iconsss a{
    color: black;

}
.iconsss ul{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    flex-direction: row;
    gap: 20px;

}
.iconsss li{
    list-style: none;
 
}
hr{
    border: 1px solid #000;
    border-radius: 2px;
    width: 100%;
}
.PARTTWOFOOTER{
   display: flex;
   align-items: center;
   margin-left: auto;
   background-color: #FFFFFF ;
   color: #272936;
   font-weight: 700;
   margin-right: auto;
   justify-content: center;
} 
.PARTTWOFOOTER .pragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
